.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}


.field-wrapper .field-error {
  min-height: 1.3rem;
  font-size: 0.8rem;
  color: var(--error-text-color);
}