.header {
  width: 100%;
  min-height: 5rem;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  &-inner {
    max-width: var(--layout-l);
    width: 100%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}