:root {
  //BACKGROUND
  --base-bg-color: #F9F7F7;
  --primary-bg-color: #3F72AF;
  --secondary-bg-color: #DBE2EF;

  //FONTS
  --light-text-color: #F9F7F7;
  --dark-text-color: #112D4E;
  --error-text-color: #F38181;

  //LAYOUT-SIZE
  --layout-l: 1400px;
  --layout-m: 700px;
  --layout-s: 300px;
}